/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.03.2016, 0:28:18
    Author     : KnightDanila
*/

#FPSCounter {
    /*background-color: #000;*/
    font-size: medium;
    font-weight: bold;
    position: absolute;
    margin-left: 93%;
    top: 10px;
}